html
 head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/assets/styles/salesforce-lightning-design-system.min.css')
    title SDO QuipBot
 body
  

  div
   div.slds-global-header_container(style="display:block") 
    div.slds-global-header.slds-grid.slds-grid--align-spread
      div.slds-global-header__item
        div.slds-global-header__logo
          img(src="/assets/images/logo-noname.svg")
      div.slds-text-heading--medium SDO QuipBot    
      div.slds-global-header__item
        ul.slds-global-header__item.slds-grid.slds-grid--vertical-align-center
         li.slds-dropdown-trigger.slds-dropdown-trigger--click.slds-m-left--x-small
          button.slds-button(title="person name" aria-haspopup="true")
            span.slds-avatar.slds-avatar--circle.slds-avatar--medium
              img(src="/assets/images/avatar2.jpg" alt="person name")
   div(style="margin-top:50px")
   
    p
     h1.slds-text-heading--medium
      a(href="/oauth2/auth") Authenticate here with Salesforce